/* section 1 */
/* about bgimage */
.about-background{
  background-image: url('../assets/About/aboutBgimage1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: white;
  text-align: center;
}

/* Responsive Styles */
/* laptop */
@media (max-width: 1024px) {
  .about-background {
    height: 80vh;
  }
}
/* tablet */
@media (max-width: 768px) {
  .about-background {
    height: 60vh;
  }

  .about-content {
    padding: 20px;
  }

  .about-content h1 {
    font-size: 24px;
  }

}
/* mobile */
@media (max-width: 480px) {
  .about-background {
    height: 50vh;
  }

  .about-content h1 {
    font-size: 20px;
  }

}
/* owner section 2 */

.about-section2 {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 40px;
  background: #fffafc;
  align-items: center;
  justify-content: center;
}
.section2-heading{
  text-align: center;
  padding: 10px;
}
.owner-section {
  flex: 1;
  min-width: 250px;
  text-align: center;
}
.owner-name,.shop-name{
    font-family: "Cinzel", serif;
}
.owner-image {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #e0c6d0;
}

.company-section {
  flex: 2;
  min-width: 300px;
}
.company-section h2 {
  font-size: 32px;
  color: #b40060;
}

.tagline {
  font-style: italic;
  color: #777;
  margin-bottom: 10px;
}

/* Responsive */
@media (max-width: 768px) {
  .about-section2 {
    flex-direction: column;
    text-align: center;
  }

  .company-section h2 {
    font-size: 24px;
  }

  .owner-image {
    width: 180px;
    height: 180px;
  }
}

/*section 3 vision and mission */

.vision-mission-section {
  background-color: #fff5f7;
}

.section-title {
  font-size: 2rem;
  font-weight: bold;
  color: #b33c86;
}

.section-text {
  font-size: 1.1rem;
  color: #333;
  line-height: 1.6;
}

.about-carousel img {
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
  cursor : pointer;
}

@media (max-width: 768px) {
  .about-carousel img {
    height: 250px;
  }

  .section-title {
    font-size: 1.6rem;
  }

  .section-text {
    font-size: 1rem;
  }
}

/* our work section 4 */
.ourwork-service-card {
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  cursor: pointer;
  border: 0;
  border-radius: 10px;
}
.ourwork-service-card:hover {
  transform: translateY(-10px);
}

.card-img-top {
  height: 250px;
  object-fit: cover;
}
/* section 5  */
.card {
  border-radius: 12px;
  transition: transform 0.3s ease-in-out;
}
.card:hover {
  transform: translateY(-3px);
}