*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.footer {
    background-color: #aa0144 !important;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
}
.footer-links li a{
    color: #fbfbff;
    text-decoration: none;
    margin: 0 10px;
}
.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.footer-content p {
    margin: 5px 0;
}
