body {
  overflow-x: hidden;
}
/* hero section */
.hero-section {
  position: relative;
  height: 100vh;
  background-image: url('../assets/Tailoring/T-home-bg.avif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.span-text-tailoring{
    color: #c2185b;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.container {
  position: relative;
  z-index: 2;
}

.hero-heading {
  font-size: 2rem;
  font-weight: bold;
}
@media (min-width: 768px) {
  .hero-heading {
    font-size: 3rem;
  }
}

.appointment-form {
  background-color: #fff;
  border-radius: 12px;
  max-width: 500px;
  margin: 20px auto;
  z-index: 1002;
  position: relative;
}
.submitbtn{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* about section */
.about-section {
  background-color: #f9f9f9;
}

@media (max-width: 600px) {
  .about-section {
    display: block;
    text-align: center;
  }
}

.about-text {
  background-color: #ffffff;
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
}

.services-list h5 {
  font-weight: bold;
  color: #1a1a1a;
}

.services-list ul li {
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: #444;
}
/* services section */
.service-card {
  width: 100%;
  max-width: 300px;
  transition: transform 0.3s ease;
  border-radius: 10px;
}

.service-card:hover {
  transform: scale(1.05);
}

.card-img-top {
  height: 180px;
  object-fit: cover;
}

/* mens tailoring */
.mens-tailoring-section {
  background-image: url('../assets//Tailoring/T-services1.avif');
  background-size: cover;
  background-position: center;
  min-height: 80vh;
  position: relative;
  padding: 60px 20px;
}

.overlay-content {
  padding: 30px;
  border-radius: 8px;
}

/* Responsive text alignment */
@media (max-width: 767.98px) {
  .overlay-content {
    text-align: center;
    margin: 0 auto;
  }
}
/* women's tailoring */
.womens-tailoring-section {
  background-image: url('../assets//Tailoring/T-services3.avif');
  background-size: cover;
  background-position: center;
  min-height: 80vh;
  position: relative;
  padding: 60px 20px;
}
/* why choose us */
.why-choose-us .card {
  border-radius: 16px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.why-choose-us .card:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

