body {
  overflow-x: hidden;
}
/* hero section */
.Tailoring-hero-section {
  position: relative;
  height: 100vh;
  background-image: url('../assets/Tailoring/T-home-bg.avif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.span-text-tailoring{
    color: #c2185b;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(8, 8, 8, 0.6);
  z-index: 1;
}

.container {
  position: relative;
  z-index: 2;
}

.hero-heading {
  font-size: 2rem;
  font-weight: bold;
}
@media (min-width: 768px) {
  .hero-heading {
    font-size: 3rem;
  }
}

.appointment-form {
  background-color: #fff;
  border-radius: 12px;
  max-width: 500px;
  margin: 20px auto;
  z-index: 1002;
  position: relative;
}
.submitbtn{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* about section */
.about-us-section {
  background-color: #fffaf2;
}

.section-heading {
  font-size: 2.5rem;
  font-weight: bold;
  color: #000;
  position: relative;
}

.about-content {
  padding: 0 10px;
}

.about-text {
  font-size: 1.1rem;
  color: #333;
  line-height: 1.7;
  margin-bottom: 1.5rem;
}

.carousel img {
  height: 300px;
  object-fit: cover;
  border-radius: 12px;
}

@media (max-width: 768px) {
  .carousel img {
    height: 220px;
  }

  .section-heading {
    font-size: 2rem;
  }

  .about-text {
    font-size: 1rem;
  }
}
/* about section end */
/* services section */
.service-card {
  width: 100%;
  max-width: 300px;
  transition: transform 0.3s ease;
  border-radius: 10px;
}

.service-card:hover {
  transform: scale(1.05);
}

.card-img-top {
  height: 180px;
  object-fit: cover;
}

/* mens tailoring */
.mens-tailoring-section {
  background-image: url('../assets//Tailoring/mens.jpg');
  background-size: cover;
  background-position: center;
  min-height: 80vh;
  position: relative;
  padding: 60px 20px;
}

.mens-heading{
  color: white;
}

.overlay-content {
  padding: 30px;
  border-radius: 8px;
}

/* Responsive text alignment */
@media (max-width: 767.98px) {
  .overlay-content {
    text-align: center;
    margin: 0 auto;
  }
}
/* women's tailoring */
.womens-tailoring-section {
  background-image: url('../assets//Tailoring/women1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
  min-height: 80vh;
  position: relative;
  padding: 60px 20px;
}
/* why choose us */
.why-choose-us .card {
  border-radius: 16px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.why-choose-us .card:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

